.cart-section {
  margin-bottom: 30px;
}

.cart-section .container {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 45px;
  width: 1150px;
}

.cart,
.cart table {
  margin-top: 20px;
  width: 100%;
}

.cart table img {
  text-align: center;
  width: 110px;
}

.bill {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.table table {
  border-collapse: collapse;
}

.table th {
  background-color: #f8f8f8;
  color: #636363;
}

.table th,
.table td {
  border: 1px solid #0d0d0d;
  padding: 15px;
}

.cart table th:first-child,
.cart table td:first-child,
.cart table td:first-child input {
  width: 10px;
  text-align: center;
}

.cart table td:first-child input {
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

/* Kiểu checkbox tùy chỉnh */
.cart input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 20px; /* Độ rộng checkbox */
  height: 20px; /* Độ cao checkbox */
  background-color: #ccc; /* Màu nền checkbox */
  border-radius: 3px; /* Độ cong viền */
}

/* Kiểu checkbox khi được chọn */
.cart input[type="checkbox"]:checked::before {
  content: "\2713"; /* Mã Unicode cho dấu tích */
  font-size: 16px; /* Kích thước của dấu tích */
  line-height: 20px; /* Giữa dấu tích và viền checkbox */
  text-align: center; /* Canh lề dấu tích */
  background-color: #007bff; /* Màu nền checkbox khi được chọn */
  color: #fff;
  font-weight: 700;
}

.cart table td:nth-child(2) {
  width: 130px;
}

.cart table td:nth-child(3) {
  width: 380px;
}

.cart table td:nth-child(4) {
  width: 80px;
}

.cart table select {
  padding: 5px 15px;
  outline: none;
  border-radius: 5px;
  border: rgb(206, 212, 218) 1px solid;
  background-color: #fff;
}

.cart table td:nth-last-child(3) {
  width: 150px;
}

.cart table td:nth-last-child(2) {
  width: 150px;
}
.cart table td:last-child {
  width: 80px;
}

.cart .updateCart {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 10px;
}

.cart .updateCart button {
  padding: 6px 12px;
  color: #fff;
  font-size: 16px;
  background-color: rgb(92, 184, 92);
  border: 1px solid rgb(76, 174, 76);
  border-radius: 4px;
  cursor: pointer;
}
.cart .updateCart button:hover {
  background-color: rgb(68, 157, 68);
  border-color: rgb(57, 132, 57);
}

.bill h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.bill table {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 10px 0 20px;
}

.bill table td {
  padding: 10px;
}

.bill button {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #333;
  font-weight: 700;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.bill .btnShop {
  background-color: #fff;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin-bottom: 5px;
}

.bill .btnShop:hover {
  background-color: #e6e6e6;
}

.bill .btnCheckout {
  color: #fff;
  background-color: rgb(70, 184, 218);
  border: 1px solid rgb(70, 184, 218);
  border-radius: 4px;
}

.bill .btnCheckout:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}
